.about-bank {
  padding-top: 400px;
  padding-bottom: 88px;

  &__heading {
    margin-bottom: 17px;
    padding: 0 26px;
    font-weight: 100;
    font-size: $heading-fz;
    text-align: center;
    color: $title-color;

    @include media-breakpoint-up(sm) {
      padding: 0;
    }
  }

  &__text {
    margin-bottom: 30px;
    padding: 0 26px;
    font-size: $text-fz;
    line-height: 1.563rem;
    text-align: center;
    color: $text-color;

    @include media-breakpoint-up(sm) {
      padding: 0;
    }
  }
}
