.articles {
  padding: 88px 0 64px;

  @include media-breakpoint-up(sm) {
  padding-bottom: 40px;
  }

  &__title {
    margin-bottom: 31px;
    font-weight: 100;
    font-size: $title-fz;
    text-align: center;
    color: $title-color;
  }
}
