.articles-list {
  @include reset-list;

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: 24px;
    padding-bottom: 28px;

    @include media-breakpoint-up(sm) {
      width: 255px;
    }

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 25px;
    }

    &-wrapper {
      width: 265px;
      margin: 0 auto;

      @include media-breakpoint-up(sm) {
        width: 207px;
      }
    }

    &-author {
      margin-bottom: 8px;
      font-size: $author;
      line-height: 1.125rem;
      color: $text-color;
    }

    &-title {
      margin-bottom: 12px;
      font-weight: 100;
      font-size: 1rem;
      line-height: 1.25rem;
      color: $title-color;
    }

    &-description {
      font-size: $description;
      line-height: 1.125rem;
      color: $text-color;
    }
  }
}
