.articles-list {
  @include reset-list;

  padding: 0 26px;

  &__item {
    margin-bottom: 24px;
    padding-bottom: 28px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 25px;
    }

    &-wrapper {
     padding: 0 22px;
    }

    &-author {
      margin-bottom: 8px;
      font-size: $author-fz;
      line-height: 1.125rem;
      color: $text-color;
    }

    &-title {
      margin-bottom: 12px;
      font-weight: 100;
      font-size: 1rem;
      line-height: 1.25rem;
      color: $title-color;
    }

    &-description {
      font-size: $description-fz;
      line-height: 1.125rem;
      color: $text-color;
    }
  }
}
