.features-list {
  @include reset-list;
  width: 327px;
  margin: 0 auto;

  &__item {
    position: relative;
    margin-bottom: 32px;
    padding-top: 98px;

    &:first-child::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 145px;
      width: 40px;
      height: 40px;
      background-image: url("../img/icon-banking.svg");
    }

    &:nth-child(4n+2)::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 152px;
      width: 33px;
      height: 40px;
      background-image: url("../img/icon-budgeting.svg");
    }

    &:nth-child(4n+3)::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 145px;
      width: 40px;
      height: 40px;
      background-image: url("../img/icon-onboarding.svg");
    }

    &:last-child::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 145px;
      width: 40px;
      height: 40px;
      background-image: url("../img/icon-api.svg");
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: calc(50% - 36px);
      width: 72px;
      height: 72px;
      background-image: linear-gradient(135deg, #33d35e 0%, #2ab6d9 100%);
      border-radius: 50%;
    }

    &-title {
      margin-bottom: 16px;
      font-weight: 100;
      font-size: $subtitle-fz;
      line-height: 1.563rem;
      text-align: center;
    }

    &-text {
      font-size: $text-fz;
      text-align: center;
      color: $text-color;
    }
  }
}
