.features {
  padding: 64px 0;
  background-color: #f4f5f7;

  &__title {
    margin-bottom: 52px;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    color: $title-color;
  }

  &__text {
    padding: 0 26px;
    margin-bottom: 62px;
    font-size: $text-fz;
    text-align: center;
    color: $text-color;
  }
}
