.footernav-list {
  @include reset-list;

  margin-bottom: 32px;
  text-align: center;

  a {
    font-size: $text-fz;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: $hover-color;
      cursor: url("../img/cursor.svg"), pointer;
    }
  }

  &__item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
