.headernav-list {
  @include reset-list;

  position: absolute;
  top: 92px;
  left: calc(50% - 88% / 2);
  width: 88%;
  padding: 32px 26px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 4px;

  @include media-breakpoint-up(sm) {
    left: calc(50% - 500px / 2);
    width: 500px;
  }

  &--hide {
    display: none;
  }

  &__item {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      font-size: 1.125rem;
      color: $title-color;
      text-decoration: none;
      cursor: url("../img/cursor.svg"), pointer;
    }
  }
}
