.invite-btn {
  display: block;
  margin: 0 auto;
  padding: 8px 33px;
  font-weight: 100;
  font-size: $text-fz;
  line-height: 1.75rem;
  color: #ffffff;
  background-image: linear-gradient(135deg, #33d35e 0%, #2ab6d9 100%);
  border: none;
  border-radius: 22px;

  &--footer {
    margin-bottom: 24px;
  }
}
