.page-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 22px 0;
  background-color: #ffffff;

  &__nav {
    width: 100%;
    padding: 0 26px;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-up(sm) {
      padding: 0 8px;
    }
  }



  &__btn {
    width: 24px;
    height: 11px;
    margin-top: 5px;
    font-size: 0;
    background-image: url("../img/icon-burger.svg");
    border: none;
  }
}
