.social-icons {
  @include reset-list;

  display: flex;
  flex-basis: 24px;
  justify-content: space-between;
  width: 184px;
  margin: 0 auto 54px auto;


  &__item {
    position: relative;

    a {
      display: block;
      cursor: url("../img/cursor.svg"), pointer;
    }

    &:nth-child(5n+3) a {
      padding-top: 2px;
    }

    a:hover path{
      fill: $hover-color;
    }
  }
}
