$font-base: "Public Sans", "Arial", sans-serif;

$title-color: #2d314d;
$text-color: #9597a5;
$hover-color: #30c88f;

$heading: 2.5rem;
$heading-desktop: 3.5rem;

$title: 2rem;

$subtitle: 1.25rem;
$subtitle-desktop: 1.5rem;

$text: 0.938rem;
$text-desktop: 1.125rem;

$description: 0.813rem;

$author: 0.625rem;
