$font-base: "Public Sans", "Arial", sans-serif;

$title-color: #2d314d;
$text-color: #9597a5;

$heading-fz: 2.5rem;
$title-fz: 2rem;
$subtitle-fz: 1.25rem;
$text-fz: 0.938rem;
$description-fz: 0.813rem;
$author-fz: 0.625rem;

